:root {
  --PrimaryBodyBGColor: rgb(245, 244, 244);
  --PrimaryBGColor: #ffffff;
}

.main_cntr_bd {
  background-color: var(--PrimaryBodyBGColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7vh;
}

.bd_form {
  border: 1px solid rgb(233, 231, 231);
  background-color: var(--PrimaryBGColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: 70%;
  width: 28%;
  margin-top: 2%;
}

.bd_add,
.emailPg_heading {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  display: block;
  text-align: center;
  margin: 20px 10px;
}

.bd_cake {
  background: url("/src/media/logos.png");
  width: 144px;
  height: 96px;
  background-size: 569px 521px;
  background-position: 0 -106px;
  margin: auto;
}

.email_logo {
  background: url("/src/media/logos.png");
  width: 93px;
  height: 75px;
  background-size: 571px 566px;
  background-position: -429px 0px;
  margin: auto;
}

.m_logo {
  margin-top: 5%;
}

.bd_selector {
  display: flex;
  gap: 5%;
  justify-content: center;
}

.bd_descmr {
  font-weight: 400;
  font-size: 14px;
}

.bd_popup_click {
  color: #008ae0;
  font-weight: 600;
  cursor: pointer;
}

.text_center {
  text-align: center;
}

.bd_info {
  font-size: 12px;
  color: rgb(142, 142, 142);
  font-weight: 400;
  margin: 7% 5%;
}

.bd_w70 {
  width: 85%;
  margin: auto;
}

.bd_dropdown {
  border-radius: 3px;
  color: rgb(142, 142, 142);
  height: 36px;
  font-size: 12px;
  padding: 0 24px 0 8px;
}

.bd_dropdown > option {
  height: 2rem;
}

.bd_go_back_signup,
.email_resend {
  color: #008ae0;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin: 5% 0;
}

.email_resend {
  color: #008ae0;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin-left: 2px;
}
